

<header class="intro-header" style="background-image:url('/assets/images/arnold-conquer.jpg')">
		<div class="container">
				<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
								<div class="site-heading">
										<h1>Organize Your Fitness Life</h1>
										<span class="subheading"></span>
								</div>
								<div class="picturesMain">
									<img src="https://77861ea9472dc18d4219-eac685bd65ad1e27603f37681401f52f.ssl.cf2.rackcdn.com/1513869798_SCREW-RESOLUTIONS-HP-blog.jpg">
									<img src="https://77861ea9472dc18d4219-eac685bd65ad1e27603f37681401f52f.ssl.cf2.rackcdn.com/1511176280_turkey_burn_blog_2400.jpg">
									<img src="https://77861ea9472dc18d4219-eac685bd65ad1e27603f37681401f52f.ssl.cf2.rackcdn.com/1509031532_eat_before_soul_2400.jpg">
									<img src="https://77861ea9472dc18d4219-eac685bd65ad1e27603f37681401f52f.ssl.cf2.rackcdn.com/1509706921_dst_2400.jpg">
								</div>
						</div>
				</div>
		</div>
</header>


	<!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            </div>
        </div>
    </div>
