

<header class="intro-header" style="background-image:url('/assets/images/arnold-conquer.jpg')">
		<div class="container">
				<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
								<div class="site-heading">
										<h1>Organize Your Fitness Life</h1>
										<span class="subheading"></span>
								</div>

						</div>
				</div>
		</div>
</header>


	<!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
							<div class="albumStuff">
								<img class="albumCovers" src="https://i.scdn.co/image/e23adf2ed8c7c2c1003735642ef5779adb2e21c6">
								<img class="albumCovers" src="https://i.scdn.co/image/d83a086148afe6539dae524607cbe4b6ccdd0360">
								<img class="albumCovers" src="https://i.scdn.co/image/d30f10db04a3303623d70d7d930da769f5590019">
								<img class="albumCovers" src="https://i.scdn.co/image/8d63ab6a74d9a77d723e79f95faa3be5615c85ae">
							</div

            </div>
        </div>
    </div>
