.intro-header {
  margin: 0 !important;
}
.verticalNav {
  color: #ffffff !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  padding-left: 20px !important;
}
.verticalNav :hover{
  color: #ffffff;
  opacity: 1;
}
.mondayTable {
  padding-right: 20px !important;
  border-right: 10px !important;
  border-color: #ffffff !important;
}
.tuesdayTable{
  padding-right: 20px !important;
  border-right: 10px !important;
  border-color: #ffffff !important;
}
.wednesdayTable {
  padding-right: 20px !important;
  border-right: 10px !important;
  border-color: #ffffff !important;
}
.thursdayTable {
  padding-right: 20px !important;
  border-right: 10px !important;
  border-color: #ffffff !important;
}
.fridayTable {
  padding-right: 20px !important;
  border-right: 10px !important;
  border-color: #ffffff !important;
}
.saturdayTable {
  padding-right: 20px !important;
  border-right: 10px !important;
  border-color: #ffffff !important;
}
.sundayTable {
  padding-right: 20px !important;
  border-right: 10px !important;
  border-color: #ffffff !important;
}
input {
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  padding-bottom: 8px !important;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}
label {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.dashboardDiv {
  font-weight: 900 !important;
}
.panel-group {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #ffffff;
  opacity: 1 !important;
  font-weight: bold !important;
}
h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #ffffff;
  opacity: 0.5;
}
.welcomeBack {
  padding-left: 20px !important;
}
.friendsFeed {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 1 !important;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #ffffff;
}
button {
  background:rgb(240, 55, 62);
  color:#fcfcfc;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding:12px 60px;
  border:1px solid transparent;
  border-radius:25px;
  font-weight:600;
  cursor:pointer;
  margin-bottom: 60px;
  margin-top: 20px;
}
.signUpInput {
  padding-top: 0px !important;
}
.navMain {
  width: 200px !important;
  margin: 0;
  background-color: rgba(0,0,0,.5) !important;
  float: left;
  position: : fixed !important;
  top: 0;
  bottom: 0;
  overflow: auto;
  height: 100vh !important;
}
.nav-link {
  color: #ffffff !important;
}
.linksNav {
  font-size: 20px !important;
}
.navbar-brand {
  width: 50px !important;
}
.indexPage {
  padding: 25px;
  padding-left: 50px !important;
}
h1 {
  margin-top: 0px !important;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.lineNav {
  color: #ffffff !important;
  opacity: 0.5 !important;
}
.subheading {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.copyright {
  bottom: 100px !important;
  padding-left: 20px;
  color: #888888 !important;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}
.navLinks {
  color: #ffffff !important;
  opacity: 0.5;
}
.bodyContainer {
  padding-left: 225px !important;
  padding-top: 25px !important;
}
a {
  text-decoration: none !important;
  color: #ffffff;
}
body {
  margin: 0 !important;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg,#2c5e92 0,#552f6d 80%);
}
hr {
  color: #ffffff !important;
  opacity: 0.5 !important;
}
ul {
  list-style-type: none !important;
}
.weekdayBlock {
  display: inline-block !important;
  border-right: 10px !important;
  border-color: #ffffff !important;
}
